/.cache
/.git
/.github
/build
/coverage
/node_modules
/playwright*
/public/build
/storybook-static
/test-results

.dockerignore
*.env
*.log
.DS_Store
docker-compose.*
Dockerfile*
tsconfig.tsbuildinfo
